* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* Helping CSS */
primary-color-green {
  color: #006a50;
}
.bgc-green {
  background-color: #c6e4d6;
}
.bgc-green-dark {
  background-color: #006a50;
}
.header_title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
}

.btn-all {
  color: rgba(0, 106, 80, 1);
  border: 1px solid #006a50;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.signin_btn {
  font-size: 18px;
}
.signin_btn:hover {
  background-color: red;
  color: white;
}
/* Banner */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  border-radius: 24px;
  text-align: justify;
}

.banner-img {
  width: 474.03px;
  height: 400px;
}

.banner-title {
  font-size: 24px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.5);
}
.banner-head {
  font-size: 56px;
  font-weight: bold;
}
.banner-btn,
.btn-vision-green,
.btn-satelite,
.donate-btn {
  background-color: #006a50;
  color: white;
  font-weight: 600px;
  padding: 17px 24px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: rgb(184, 15, 15);
}
.banner-head,
.banner-title {
  margin-bottom: 30px;
}
/* Main style */
main {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* vision styles */

.vision-title,
.recent-news-title,
.donate-title {
  margin-bottom: 24px;
}
.vision-para,
.recent-news-para,
.donate-para {
  line-height: 24px;
}

.vision-boxes {
  margin: 32px 0;
  display: flex;
  gap: 24px;
}
.vision-box1 {
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
}
.vision-box2 {
  border-radius: 16px;
  background-color: #c6e4d6;
  padding: 32px;
}
.vision-box3 {
  border-radius: 16px;
  background-color: #f7ebcf;
  padding: 32px;
}
.vision-box-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.vision-box-para {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.btn-vision-blue {
  padding: 11px 20px;
  color: white;
  background-color: #5490f5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-vision-blue:hover {
  background-color: red;
}
.btn-vision-green {
  padding: 11px 20px;
  color: white;
  background-color: #09a15c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-vision-green:hover,
.btn-satelite:hover,
.donate-btn:hover {
  background-color: red;
}
.btn-vision-yellow {
  padding: 11px 20px;
  color: white;
  background-color: #ffc239;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-vision-yellow:hover {
  background-color: red;
}
/* Satelite Section */
.satelite-container1 {
  padding: 48px;
  margin: 32px 0px;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgb(217, 211, 211);

  display: flex;
  justify-content: flex-start;
  gap: 32px;
}
.satelite-img {
  border-radius: 24px;
}
.satelite-title {
  font-size: 32px;
  font-weight: bold;
}
.sateline-content {
  position: relative;
}

.btn-satelite {
  margin-top: 32px 0;
  position: absolute;
  bottom: 0;
}
.date-para {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.satelite-description {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
}
/* Donate section */
.donate-section {
  text-align: center;
  margin: 80px 0px;
}
.donate-cards {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin: 32px 0px;
}
.input-text {
  width: 90%;
  text-align: center;
  margin-bottom: 32px;
  padding: 20px 40px;
  box-shadow: 0px 4px 4px 0px rgb(217, 211, 211);
  border: none;
}
.btn {
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgb(217, 211, 211);
}
.two {
  background-color: #c6e4d6;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background-color: red;
}
